
<% if current_user %>
<div class="main">
  <%= link_to "Blurt", user_path(current_user),  class: 'btn btn-primary btn-lg'%>
</div>
<% else %>

<h2>Welcome to betterBlurt</h2>
<h4> The worlds largest writing contest with a new winner every day!</h4>
<% end %>
